@import '../../Animations/Fade-In-Out.scss';
@import '../../Animations/Drop.scss';
@import '../../Variables.scss';

.container {
    display: block;
    height: inherit;
    width: inherit;
}

.content {
    display: block;
    position: absolute;
    z-index: 1;
    color: $WHITE;
    top: 20%;
    animation: drop 0.6s;
    padding: 1rem;
    background-color: $DARK_SHADOW;

    @media (max-width: 768px) {
        top: 8%;
    }

    &-left {
        left: 10%;
        @media (max-width: 768px) {
            top: 8%;
            left: 20%;
        }
    }
    &-right {
        right: 10%;
        @media (max-width: 768px) {
            top: 8%;
            right: 20%;
        }
    }
}

.background {
    height: inherit;
    &-image {
        height: inherit;
        width: 100%;
        animation: fade-in 1s;
    }
}
