.container {
    display: block;
    height: inherit;
    width: inherit;
}

.content {
    display: block;
    position: absolute;
    z-index: 1;
    color: #ffffff;
    left: 10%;
    top: 20%;
    font-size: xx-large;
    font-weight: bolder;
}

.background {
    height: inherit;
    &-image {
        height: inherit;
        width: 100%;
    }
}
