.button {
    cursor: pointer;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    outline: none;
    border: none;
    @media (max-width: 768px) {
        padding: 0.5rem 0.8rem;
    }
    @media (max-width: 425px) {
        padding: 0.4rem 0.6rem;
    }
}