#arrow {
    position: relative;
    width: inherit;
    @media (max-width: 768px) {
        height: 25px;
    }
    @media (max-width: 425px) {
        height: 15px;
    }
}

.arrow {
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 19vh;
    height: 100px;
    width: 70px;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &-pos-left {
        left: 8px;
    }
    &-pos-right {
        right: 8px;
    }

    @media (max-width: 768px) {
        top: 14vh;

    }
    @media (max-width: 425px) {
        top: 8vh;
        width: 35px;
    }
}

.left-arrow {
    transform: rotate(180deg);
}
