#arrow {
    position: relative;
    width: inherit;
}

.arrow {
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 19vh;
    height: 100px;
    width: 70px;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &-pos-left {
        left: 8px;
    }
    &-pos-right {
        right: 8px;
    }
}

.left-arrow {
    transform: rotate(180deg);
}
